In [43]:
import pandas as pd
import numpy as np
import random as rd

## Data Generation
The base data we aqcuired for use in our tables are from https://www.mockaroo.com/

The processes I will show will be formatting the data that we will be putting into our database.

In [16]:
orders = pd.read_csv("order_data.csv")
orders

,order_date,total,status,first_name,last_name,address,city,state,postal_code,phone,email
0,2021-05-12 01:15:57,0,4,Lambert,Diament,4383 Gulseth Center,Santa Fe,New Mexico,87592,505-883-1192,ldiament0@indiegogo.com
1,2021-03-03 20:30:26,0,1,Tallie,Fettiplace,0039 Anderson Plaza,Salt Lake City,Utah,84115,801-350-2420,tfettiplace1@tripod.com
2,2021-03-20 07:34:39,0,2,Lyle,Sacher,089 Russell Way,Vancouver,Washington,98687,360-840-3336,lsacher2@ucsd.edu
3,2021-10-12 04:52:14,0,6,Keen,Bertelsen,99 Meadow Vale Lane,Beaumont,Texas,77713,409-236-3506,kbertelsen3@ocn.ne.jp
4,2021-11-06 21:09:22,0,3,Isa,Durnell,8 Gulseth Point,Dearborn,Michigan,48126,734-288-6393,idurnell4@ftc.gov
...,...,...,...,...,...,...,...,...,...,...,...
95,2021-07-13 19:13:49,0,6,Bord,Kewley,39 Longview Drive,Erie,Pennsylvania,16565,814-829-0085,bkewley2n@earthlink.net
96,2021-06-12 10:25:53,0,4,Faye,Lightbown,418 Lakeland Lane,Washington,District of Columbia,20099,202-258-7731,flightbown2o@flickr.com
97,2021-03-27 12:04:16,0,4,Vergil,Martine,8896 Logan Trail,Danbury,Connecticut,6816,203-208-4677,vmartine2p@devhub.com
98,2021-02-23 02:09:02,0,6,Justina,Coaten,74 Stone Corner Lane,San Antonio,Texas,78255,210-400-5398,jcoaten2q@shareasale.com
99,2021-11-08 01:14:57,0,2,Arny,Bethell,586 Fair Oaks Pass,Grand Rapids,Michigan,49510,616-490-3410,abethell2r@drupal.org

In [17]:
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI",
}
orders['state'] = orders['state'].map(us_state_to_abbrev)
#Maps the state names that were originally into the data to the format we have for the checkout on our site.

In [18]:
status = {
    1 : "Awaiting Shipment",
    2 : "Completed",
    3 : "Completed",
    4 : "Completed",
    5 : "Completed",
    6 : "Refunded",
    7 : "Canceled"
}

orders['status'] = orders['status'].map(status)
#As you may have noticed, on our status for the data we had numbers randomly generated 1-7.
#Here we are simply just mapping them to different statuses for the site.

In [27]:
orders['first_name'] = orders['first_name'].str.upper()
orders['last_name'] = orders['last_name'].str.upper()
orders['address'] = orders['address'].str.upper()
orders['city'] = orders['city'].str.upper()
orders['email'] = orders['email'].str.upper()
#All we are doing here is converting all the personal info into uppercase so that its uniform.

orders['order_id'] = ""
columns_titles = ["order_id","order_date" ,"total", "status", "first_name", "last_name", "address", "city", "state", "postal_code", "phone", "email"]
orders=orders.reindex(columns=columns_titles)
#We reindex as the order does matter when inserting the values

orders

,order_id,order_date,total,status,first_name,last_name,address,city,state,postal_code,phone,email
0,,2021-05-12 01:15:57,0,Completed,LAMBERT,DIAMENT,4383 GULSETH CENTER,SANTA FE,NM,87592,505-883-1192,LDIAMENT0@INDIEGOGO.COM
1,,2021-03-03 20:30:26,0,Awaiting Shipment,TALLIE,FETTIPLACE,0039 ANDERSON PLAZA,SALT LAKE CITY,UT,84115,801-350-2420,TFETTIPLACE1@TRIPOD.COM
2,,2021-03-20 07:34:39,0,Completed,LYLE,SACHER,089 RUSSELL WAY,VANCOUVER,WA,98687,360-840-3336,LSACHER2@UCSD.EDU
3,,2021-10-12 04:52:14,0,Refunded,KEEN,BERTELSEN,99 MEADOW VALE LANE,BEAUMONT,TX,77713,409-236-3506,KBERTELSEN3@OCN.NE.JP
4,,2021-11-06 21:09:22,0,Completed,ISA,DURNELL,8 GULSETH POINT,DEARBORN,MI,48126,734-288-6393,IDURNELL4@FTC.GOV
...,...,...,...,...,...,...,...,...,...,...,...,...
95,,2021-07-13 19:13:49,0,Refunded,BORD,KEWLEY,39 LONGVIEW DRIVE,ERIE,PA,16565,814-829-0085,BKEWLEY2N@EARTHLINK.NET
96,,2021-06-12 10:25:53,0,Completed,FAYE,LIGHTBOWN,418 LAKELAND LANE,WASHINGTON,DC,20099,202-258-7731,FLIGHTBOWN2O@FLICKR.COM
97,,2021-03-27 12:04:16,0,Completed,VERGIL,MARTINE,8896 LOGAN TRAIL,DANBURY,CT,6816,203-208-4677,VMARTINE2P@DEVHUB.COM
98,,2021-02-23 02:09:02,0,Refunded,JUSTINA,COATEN,74 STONE CORNER LANE,SAN ANTONIO,TX,78255,210-400-5398,JCOATEN2Q@SHAREASALE.COM
99,,2021-11-08 01:14:57,0,Completed,ARNY,BETHELL,586 FAIR OAKS PASS,GRAND RAPIDS,MI,49510,616-490-3410,ABETHELL2R@DRUPAL.ORG

In [29]:
orders.to_csv('order_data_formatted.csv', index=False)

Now we are done with generating the orders and after uploading the csv via DBeaver, now we can work on making the order items for each of the orders. 

## Generating order items

This one is a bit different, we will first need to get the order_ids from the dataframe. <br>
We will then assign 1-4 items to each order_id with the product_ids 1-10 and a quantity ranging 3-20. <br>
First we will need to get the order_ids auto generated by the database by exporting and loading back in the orders table.

In [31]:
orders = pd.read_csv("order_exported.csv")
orders

,order_id,order_date,total,status,first_name,last_name,address,city,state,postal_code,phone,email
0,265,2021-05-12 05:15:57,0.0,Completed,LAMBERT,DIAMENT,4383 GULSETH CENTER,SANTA FE,NM,87592,505-883-1192,LDIAMENT0@INDIEGOGO.COM
1,275,2021-03-04 01:30:26,0.0,Awaiting Shipment,TALLIE,FETTIPLACE,0039 ANDERSON PLAZA,SALT LAKE CITY,UT,84115,801-350-2420,TFETTIPLACE1@TRIPOD.COM
2,285,2021-03-20 11:34:39,0.0,Completed,LYLE,SACHER,089 RUSSELL WAY,VANCOUVER,WA,98687,360-840-3336,LSACHER2@UCSD.EDU
3,295,2021-10-12 08:52:14,0.0,Refunded,KEEN,BERTELSEN,99 MEADOW VALE LANE,BEAUMONT,TX,77713,409-236-3506,KBERTELSEN3@OCN.NE.JP
4,305,2021-11-07 01:09:22,0.0,Completed,ISA,DURNELL,8 GULSETH POINT,DEARBORN,MI,48126,734-288-6393,IDURNELL4@FTC.GOV
...,...,...,...,...,...,...,...,...,...,...,...,...
95,1215,2021-07-13 23:13:49,0.0,Refunded,BORD,KEWLEY,39 LONGVIEW DRIVE,ERIE,PA,16565,814-829-0085,BKEWLEY2N@EARTHLINK.NET
96,1225,2021-06-12 14:25:53,0.0,Completed,FAYE,LIGHTBOWN,418 LAKELAND LANE,WASHINGTON,DC,20099,202-258-7731,FLIGHTBOWN2O@FLICKR.COM
97,1235,2021-03-27 16:04:16,0.0,Completed,VERGIL,MARTINE,8896 LOGAN TRAIL,DANBURY,CT,6816,203-208-4677,VMARTINE2P@DEVHUB.COM
98,1245,2021-02-23 07:09:02,0.0,Refunded,JUSTINA,COATEN,74 STONE CORNER LANE,SAN ANTONIO,TX,78255,210-400-5398,JCOATEN2Q@SHAREASALE.COM
99,1255,2021-11-08 06:14:57,0.0,Completed,ARNY,BETHELL,586 FAIR OAKS PASS,GRAND RAPIDS,MI,49510,616-490-3410,ABETHELL2R@DRUPAL.ORG

In [60]:
order_items = pd.DataFrame(columns=["order_item_id", "order_id", "product_id", "quantity"])

for id in orders["order_id"]:
    for i in range(rd.randint(1, 4)):
        product_id = rd.randint(1, 10)
        quantity = rd.randint(3, 20)
        df = pd.DataFrame([["", id, product_id, quantity]], columns=["order_item_id", "order_id", "product_id", "quantity"])
        order_items = order_items.append(df, ignore_index=True)

order_items

    order_item_id order_id product_id quantity
0                      265          8       18
1                      275          2       15
2                      275          1        8
3                      275         10       19
4                      285          4        9
..            ...      ...        ...      ...
234                   1245          1       11
235                   1245          2       12
236                   1255          8        7
237                   1255         10       10
238                   1255          8        8

[239 rows x 4 columns]

In [62]:
order_items.to_csv('order_items.csv', index=False)

Now we add this to the database and all the order data is now generated.